main{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  display: block;
}
span{
  position: absolute;
  top:40%;
  font-size: 60px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  left: .5%;
  z-index: 1;
}
span:nth-of-type(2){
  left:98%;
  text-align: right;
}
section{
  width: 98%;
  height: 600px;
  background: #eff2f6;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  visibility: hidden;
}
.sliderImages{
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 0;
  text-align:center ;
  font-size: 100px;
  font-weight: bold;
  margin: 10px 20px;
  color: white;
  transition: 0.5s;
  
}

