.container{
  position: fixed;
  display: block;
  max-width: unset;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: auto;

}
.center {
  padding: 15px 115px  ;
}
button{
  padding: 10px 20px;
  border-radius: 12px;
  border:none;

}
.modal-content{
  width:600px;
  height:400px;
  margin: auto;
  transform: translate(0%, 50%);
}

.close_button{
  background-color:#fff;
  height: 50px;
  width: 50px;
  text-align: center;
  border: none;
  float: right;
}
.card-container{
  padding-bottom: 30px;
  padding-top: 20px;
}

.card{
   width: 350px;
  -webkit-transition: 1.0s;
  /* border: none; */
}

.card:hover {
  -webkit-transform: scale(1.1, 1.05);
}
.card-deck{
  width:380px;
  height: 550px;
  /* background-color:  	 #f0f5f5; */
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm314-adj-04-a_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8e556d33039d4ba6e9c5df335a7515ef");
  border-radius: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.card-body{
  /* background-color:#f0f5f5; */
  background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm314-adj-04-a_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8e556d33039d4ba6e9c5df335a7515ef");

}

