.container{
    position: fixed;
    display: block;
    max-width: unset;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
  
  }
  .modal-content{
    width:600px;
    height:400px;
    margin: auto;
    transform: translate(0%, 50%);
  }
  
  .close_button{
    background-color:#fff;
    height: 50px;
    width: 50px;
    text-align: center;
    border: none;
    float: right;
  }
  p{
    height: 230px;
  
  }
  hr{
    margin: 0%;
  }
  .body{
    background-color: #d1e0e0;
  
  }
  /* #btnRand{
    width:150px;
    height: 50px;
  } */



/* CSS */
.button-74 {
  width: 150px;
  background-color: #eff2f6;
  border: 2px solid #394a62;
  border-radius: 30px;
  box-shadow: #394a62 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  
}

.button-74:hover {
  background-color: #fff;
  
}

.button-74:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
  