button{
  padding: 10px 20px;
  border-radius: 12px;
  border: 2px solid grey;
  background-color: #f2f2f2
}
.center {
  padding: 15px 115px  ;
}
.container{
  position: fixed;
  display: block;
  max-width: unset;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: auto;

}
.modal-content{
  width:600px;
  height:400px;
  margin: auto;
  transform: translate(0%, 50%);
}

.close_button{
  background-color:#fff;
  height: 50px;
  width: 50px;
  text-align: center;
  border: none;
  float: right;
}
p{
  height: 230px;

}
hr{
  margin: 0%;
}
.body{
  background-color: #d1e0e0;

}
.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container{
 display: flex;
 padding-bottom: 20px;
 padding-right: 60px;

}

.search-button {
  font-size: 17px;
  cursor: pointer;
  margin-right: auto;
  background:transparent;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 50px;
}

.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}
