nav{
  background-color: #ffffff;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 0px;


}
.cocktailheader{
  text-align: center;
  line-height: 60px;
  width: 50px;
}
.header-box{
  width: 300px;
  height: 100px;

  float: left;
  border-radius: 5px;

}
.container-all{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 40px;
}
.nav-link{
  font-size: 20px;
  color: black;
  padding: 0px 20px;
}
a.nav-link.active{
  color: #b2b2b2;
}
header{
  background-color:#f0f5f5;
  width: 100%;
  height: 60px;
  text-align: center;
}
.icon-button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: red;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button__badge{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
