<!-- <header>
  <div class="header-box">
  <h1 class="cocktailheader">Cocktail</h1>
</div>
</header> -->

<nav class="navbar navbar-expand-lg">
  <div class="container-all" style="padding:0px 20px ;">
  <div class="header-box">
    <a routerLink="/homes" routerLinkActive="active">
    <img src="assets/cocktail_logo.jpeg" style="padding-left:0px; height: 60px; width: 50px;"></a>
  <a routerLink="/homes" routerLinkActive="active" style="text-decoration:none ; color:black;"><h2>Cocktail hour</h2></a>  
  </div>
    <ul class="navbar-nav">
      <div class="d-flex align-content-around flex-wrap justify-content-between">
        <li class="nav-item active" >
          <a routerLink="/homes" routerLinkActive="active" class="nav-link">Home <span class="sr-only"></span>
          </a>
        </li>
      <li class="nav-item active" >
        <div class="dropdown">
         <a routerLink="/categories" routerLinkActive="active" class="nav-link">Category <span class="sr-only"></span></a>
        
          <div class="dropdown-content" >
           <a *ngFor="let cat of shortCategories">{{cat.strCategory}}</a>
          </div>
        </div>
     
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a routerLink="/ingredients" routerLinkActive="active" class="nav-link">Ingredients</a>
           <div class="dropdown-content" >
            <a *ngFor="let ingredient of shortIngredients">{{ingredient.strIngredient1}}</a>
           </div>
         </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a routerLink="/glasses" routerLinkActive="active" class="nav-link">Glass</a>
           <div class="dropdown-content" >
            <a *ngFor="let glass of shortGlasses">{{glass.strGlass}}</a>
           </div>
         </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a routerLink="/alcoholics" routerLinkActive="active" class="nav-link">Alcoholic</a>
           <div class="dropdown-content" >
            <a *ngFor="let alcoholic of alcoholics">{{alcoholic.strAlcoholic}}</a>
           </div>
         </div>
      </li>
      <li class="nav-item d-flex">
        <a routerLink="/favorites" routerLinkActive="active" class="nav-link">Favorite

        </a>
        <button type="button" class="icon-button">
          <span class="material-icons">favorite</span>
          <span class="icon-button__badge" >{{counterFav}}</span>
         </button>
      </li>
    </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

