<!-- <header>
  <div class="header-box">
  <h1 class="cocktailheader">Cocktail</h1>
</div>
</header> -->

<nav class="navbar navbar-expand-lg">
  <div class="container-all">
  <div class="header-box">
    <img src="https://www.logoarena.com/contestimages/public_new/3411/thumb_74_1376870761_cocktailhour01.jpg" style="padding-left:0px; border:#394a62 solid 4px;  border-radius:5px;">
  </div>
    <ul class="navbar-nav">
      <div class="d-flex align-content-around flex-wrap justify-content-between">
        <li class="nav-item active" >
          <a routerLink="/homes" routerLinkActive="active" class="nav-link">Home <span class="sr-only"></span></a>
        </li>
      <li class="nav-item active" >
        <a routerLink="/categories" routerLinkActive="active" class="nav-link">Category <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/ingredients" routerLinkActive="active" class="nav-link">Ingredients</a>
      </li>
      <li class="nav-item">
        <a routerLink="/glasses" routerLinkActive="active" class="nav-link">Glass</a>
      </li>
      <li class="nav-item">
        <a routerLink="/alcoholics" routerLinkActive="active" class="nav-link">Alcoholic</a>
      </li>
      <li class="nav-item d-flex">
        <a routerLink="/favorites" routerLinkActive="active" class="nav-link">Favorite

        </a>
        <button type="button" class="icon-button">
          <span class="material-icons">favorite</span>
          <span class="icon-button__badge">2</span>
         </button>
      </li>
    </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

