<!-- <div class="container-fluid">
  <div class="row">
    <div id="video">
    <video class="img-fluid" autoplay loop muted>
      <source src="https://media.istockphoto.com/videos/tomato-juicebased-cocktail-video-id1173123330" type="video/mp4" />
    </video>
    </div>
  </div>
</div> -->

<div>
  <img src="https://www.peerlessmag.com/files/543afc254db68c573656af182527665c/images/ec8fac3530855f18c4c197c6f99b0073.jpg" alt="">
</div>

<div class="by-home-container">
  <h1>
    <span>
      By Topic
    </span>
  </h1>
</div>

<div class="artice-new-grid">
  <article class="horizontal-article">
    <figure class="picture-figure">
      <div class="img-hover-zoom">
      <a href="">
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/65D2/production/_123266062_gettyimages-1022118730.jpg" style="border-radius:3px ;">
      </a>
    </div>
    </figure>
    <div class="text-card-warpper">
      <div class="text-card shadow p-3 mb-5 bg-white rounded">
        <div class="post-type">
          <a href="">wine</a>
        </div>
        <h3 class="title-text">
          <a href="">Natural Wine Sets ITs Sights on Vermouth</a>
        </h3>
        <p class="dek-text">

				Winemakers are demonstrating that vermouth can be just as variable and expressive of place as wine itself.

        </p>
        <div class="share-links">
          <div class="share-link-icon share-link-icon--facebook">
            <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
          </div>
          <div class="share-link-icon share-link-icon--twitter">
            <a href="https://twitter.com/"></a>
          </div>
          <div class="share-link-icon share-link-icon--pinterest">
            <a href="https://www.pinterest.com/"></a>
          </div>
          <div class="share-link-icon share-link-icon--email">
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&followup=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&flowName=GlifWebSignIn&flowEntry=ServiceLogin"></a>
          </div>
        </div>
        <ul class="credits">
          <li class="credit">
            <span class="credit-name">
              story:
              <a href="">Jordan Michelman</a>
            </span>
          </li>
          <li class="credit">
            photo:
            <span class="credit-name">
              <a href="">Lizzie Munro</a>
            </span>
          </li>

        </ul>

      </div>
    </div>
  </article>
</div>

<div class="artice-new-grid">
  <article class="horizontal-article">
    <figure class="picture-figure">
      <div class="img-hover-zoom">
      <a href="">
        <img src="https://images.squarespace-cdn.com/content/v1/5402e23ce4b0a7034afad3a2/1647977076738-7ESKH2PU7CMWI0A9T4V1/Elderflower+Gin+Presse+1200.jpg?format=2500w" style="border-radius:3px ; width: 976px;">
      </a>
    </div>
    </figure>
    <div class="text-card-warpper">
      <div class="text-card shadow p-3 mb-5 bg-white rounded">
        <div class="post-type">
          <a href="">wine</a>
        </div>
        <h3 class="title-text">
          <a href="">A Spring Cocktail to Outlast the Season</a>
        </h3>
        <p class="dek-text">

          Capture the fleeting bounty of spring—from Meyer lemons to ramps—to power your cocktails year round.

        </p>
        <div class="share-links">
          <div class="share-link-icon share-link-icon--facebook">
            <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
          </div>
          <div class="share-link-icon share-link-icon--twitter">
            <a href="https://twitter.com/"></a>
          </div>
          <div class="share-link-icon share-link-icon--pinterest">
            <a href="https://www.pinterest.com/"></a>
          </div>
          <div class="share-link-icon share-link-icon--email">
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&followup=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&flowName=GlifWebSignIn&flowEntry=ServiceLogin"></a>
          </div>
        </div>
        <ul class="credits">
          <li class="credit">
            <span class="credit-name">
              story:
              <a href=""> PUNCH STAFF</a>
            </span>
          </li>
          <li class="credit">
            photo:
            <span class="credit-name">
              <a href=""> LIZZIE MUNRO</a>
            </span>
          </li>

        </ul>

      </div>
    </div>
  </article>
</div>


