<div class="d-flex align-content-around flex-wrap justify-content-center" style="padding-top:80px ;">
  <div class="p-2" *ngFor="let glass of shortGlasses">
    <button (click)="onSelect(glass)" type="button" class="list-button">{{glass.strGlass}}</button>
  </div>
</div>


<div class="d-flex flex-wrap justify-content-center">
  <app-card *ngFor="let glass of newGlasses" [data]="glass" (detailEvent)="onDetail(glass)" (countEvent)="parentFunction($event)" (favoriteEvent)="favoriteFunction()" [showCard]="showCard" [isSelected]="isSelected"></app-card>
 </div>

 <div class="container" (click)="onCloseModal()" *ngIf="showModal">
  <div class="modal-content" *ngFor="let newcat of details">
    <div class="around-div-content">
      <div class="body-content-img">
        <div class="frame-image" style="border: black solid 3px ;">
          <img src="{{newcat.strDrinkThumb}}" style="height: 400px; width:400px; border: white solid 3px;">
        </div>
      </div>
      <div class="sticker">
        <img src="./assets/cock_9.jpg" style="height:67px; width:56px;">
      </div>
      <div class="body-content-desc">
        <div  class="d-flex justify-content-end">
          <button class="close_button" (click)="onCloseModal()" style="font-size:30px; cursor: pointer;" id="close">&times;</button>
        </div>
        <div class="around-tags">
          <h3 style="text-align:center; text-transform: uppercase; font-weight: bold;">{{newcat.strDrink}}</h3>
           <p class ="modal-paragraph"><span class="title-modal-all">Category:</span>{{newcat.strCategory}}</p>
           <p class ="modal-paragraph"><span class="title-modal-all">Glass: </span>{{newcat.strGlass}}</p>
           <p class ="modal-paragraph"><span class="title-modal-all">Ingredinet 1: </span>{{newcat.strIngredient1}}</p>
           <p class ="modal-paragraph"><span class="title-modal-all">Ingredient 2: </span> {{newcat.strIngredient2}}</p>
           <p class ="modal-paragraph"><span class="title-modal-all">Measure: </span> {{newcat.strMeasure1}}</p>
           <p class ="modal-paragraph"><span class="title-modal-all">Instructions: </span>{{newcat.strInstructions}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
